body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(backg.jpg);
    background-color: rgba(255,255,255,0.6); 
  background-blend-mode: lighten;
}
h1{
    color:cadetblue;
    text-align: center;
    -webkit-text-stroke: 2px black;
    font-size: 250%;
    animation: movingText 3s ease-in-out;
} 
label:hover{
    font-size:x-large;
}
img{margin: 20px; 
    position: relative;
    left: 30%;
  
}
img.right{
    -webkit-box-reflect: right 8px -webkit-gradient(linear, right top, left top, from(transparent), to(white));
}
.special{
    font-size: x-large;
}
.rc{
    border: 3px solid black;
    padding: 5px 20px;
    text-align: center;
    width: 150px;
    font-size: medium;
    background-color: rgb(255, 246, 235);
    color: black;
text-decoration: none;
}
@keyframes movingText{
 0% {
        transform: translateX(-100%);  
        opacity: 0;
      }
      50% {
        transform: translateX(10%);
        opacity: 1;
      }
      100% {
        transform: translateX(0);     
        opacity: 1;
      }
}